body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    /*white-space: normal;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.TDTexto {
    FONT-SIZE: 11px;
    COLOR: navy;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
}

.hasDatepicker {
    font-size: 100% !important;
}

.divSla {
    border: 1px solid #ccc;
    border-radius: 6px;
}

.labelTextLsa {
    font-size: 11px;
}

.labelLsa {
    font-size: 27px;
}

.labelTextIndicador {
    font-size: 11.5px;
}

.labelIndicador {
    font-size: 27px;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-y: scroll;
    overflow-x: hidden;
}

.collapsible table {
    border-spacing: 0px 0px !important;
    border-collapse: separate;
    font-size: 100% !important;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
}

.divTitleChart {
    background: #FFF;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

.divChartArea {
    background: #FFF;
}

.fieldset {
    border: 1px solid #CCC !important;
    padding: 10px !important;
}

.buttonTable {
    margin: 2px 2px 2px 2px !important;
}


.textAreaCustom {
    font-family: Helvetica,Arial,sans-serif !important;
    width: 100%;
    height: 80px;
    font-size: 12px !important;
}

.text-box-read-only {
    background: #e6e0e0;
    border: 1px solid #ccc;
    color: #807878;
    font-size: 12px !important;
}

.centrado-porcentual {
    position: relative;
    left: 48%;
    top: 45%;
}

.div-loading-data {
    position: absolute;
    z-index: 9999;
    text-align: center;
    width: 800px;
    height: 250px;
}

/*++++++ CHAT BOT CSS +++++++++++*/

.chat-box {
    position: absolute;
    right: 20px;
    bottom: 0px;
    background: white;
    width: 350px;
    border-radius: 5px 5px 0px 0px;
}

.chat-head {
    width: inherit;
    height: 45px;
    background: #E3000F;
    border-radius: 5px 5px 0px 0px;
}

.chat-head label {
    color: white;
    padding: 15px;
    display: inline-block;
    font-weight: bold;
}

.chat-head-img-chat {
    cursor: auto;
    float: left;
    width: 25px;
    margin: 10px;
}

.chat-head-img-angle {
    cursor: pointer;
    float: right;
    width: 20px;
    margin: 10px;
}

.chat-body {
    height: 400px;    
    overflow: hidden;
    margin-bottom: 0px;
    border: 1px solid #E3000F;
}

.chat-text {
    position: fixed;
    bottom: 0px;
    height: 45px;
    width: inherit;
}

.chat-text textarea {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    padding: 10px;
    resize: none;
}

.chat-text textarea:active, .chat-text textarea:focus, .chat-text textarea:hover {
    border-color: royalblue;
}

.msg-send {
    background: #2ecc71;
}

.msg-receive {
    background: #3498db;
}

.msg-send, .msg-receive {
    width: 200px;
    height: 0px;
    padding: 5px 5px 5px 10px;
    margin: 10px auto;
    border-radius: 3px;
    line-height: 30px;
    position: relative;
    color: white;
}

.msg-receive:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 15px solid;
    border-color: transparent #3498db transparent transparent;
    left: -29px;
    top: 7px;
}

.msg-send:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent transparent #2ecc71;
    right: -29px;
    top: 7px;
}

.msg-receive:hover, .msg-send:hover {
    opacity: .9;
}
